


.box {
    margin-top: 0;
    display: flex;
    gap: 20px;
    font-size: large;
    border-bottom: 4px solid rgb(207, 216, 222);
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: center;
    align-content: baseline;
}

h3 {
    margin: 0;
    text-transform:uppercase;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(107, 107, 110);
}

.link {
    color: rgb(161, 199, 232);
}

.active {
    color: rgb(54, 55, 55);
}

.btn {
    border-radius: 8px;
    border-color: #646cff;
    margin: 0;
    padding: 5px;
}

btn:hover {
  border-color: #7072a0;
}
